.vscode/
.venv/
.idea/
.claude/*
!.claude/skills/
.worktrees/
.pytest_cache/
.DS_Store
__pycache__/
*.egg-info/
build/
dist/
nacos-data/
data/
tmp/
.tmp/
*.log
data/
node_modules
.docusaurus

logs
docs/superpowers/

.env
*.db
*.intern.yaml
*.intern.md
.worktrees/
